<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
</head>
<body>
    <h1>Password Generator</h1>
    <form method="get" action="{% url 'password_generator' %}">
        <label for="length">Password Length:</label>
        <input type="number" id="length" name="length" value="{{ length }}">
        <br>
        <label for="numbers">Include Numbers:</label>
        <input type="checkbox" id="numbers" name="numbers" {% if include_numbers %}checked{% endif %}>
        <br>
        <label for="special_chars">Include Special Characters:</label>
        <input type="checkbox" id="special_chars" name="special_chars" {% if include_special_chars %}checked{% endif %}>
        <br>
        <button type="submit">Generate Password</button>
    </form>
    <br>
    <h2>Generated Password:</h2>
    <p>{{ password }}</p>
</body>
</html>
